.jumbotron{
  text-align: center;
  background-color: rgb(32, 6, 6);
  color: white;
  margin: 5vh;
}

body{
  background-color: slategray;
}

img{
  max-width: 30vh;
}

.text{
  text-align: center;
}

.well{
  background-color: rgb(32, 6, 6);
  color: white;
  padding: 5vh;
}

button{
  background-color: slategray;
}

#languages{
  margin-top: 10vh;
  margin-left: 20vh;
}

#intro{
  text-align: left;
  max-width: 90%;
  float: left;
;
}
.hide{
  display: none;
}