.jumbotron{
  text-align: center;
  background-color: rgb(32, 6, 6);
  color: white;
  margin: 5vh;
}
body{
  background-color: slategray;
}
.text{
  text-align: center;
}
.well{
  background-color: rgb(32, 6, 6);
  color: white;
  padding: 10vh;
}
button{
  background-color: slategray;
}
.languages{
  text-align: center;
  display: none;
}
#ruby{
  width: 50vh;
  display: none;
}
#python{
  width: 60vh;
  display: none;
}
#js{
  width: 80vh;
  display: none;
}
#rust{
width: 80vh;
display: none;
}
#swift{
  width: 150vh;
  float: left;
  display: none;
}